apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: networking
commonLabels:
  app.kubernetes.io/name: &app webfinger
  app.kubernetes.io/instance: *app
resources:
  - helm-release.yaml
  - secret.sops.yaml
