[defaults]
preset = memgpt_chat
persona = sam_pov
human = basic

[model]
model = openhermes:7b-mistral-v2.5-q8_0
model_endpoint = http://ollama.home.svc.cluster.local:11434
model_endpoint_type = ollama
model_wrapper = chatml
context_window = 8192

[embedding]
embedding_endpoint_type = openai
embedding_endpoint = http://localai.home.svc.cluster.local:8080/v1
embedding_model = bert-embeddings
embedding_dim = 1536
embedding_chunk_size = 300

[archival_storage]
type = postgres
path = /root/.memgpt/chroma
uri = postgresql+pg8000://memgpt:adsfjkh*&^wer13@localhost:5432/memgpt

[recall_storage]
type = postgres
path = /root/.memgpt
uri = postgresql+pg8000://memgpt:adsfjkh*&^wer13@localhost:5432/memgpt

[metadata_storage]
type = postgres
path = /root/.memgpt
uri = postgresql+pg8000://memgpt:adsfjkh*&^wer13@localhost:5432/memgpt


[client]
anon_clientid = 00000000-0000-0000-0000-000000000000
